.pre-loader {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fbfbfb;
  z-index: 999;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid #012970 !important;
  border-top: 2px solid #0129703b !important;
  animation: fullrotate 1s linear infinite;
}
.pre-loader.is-active {
  display: block;
}
.pre-loader.active-is {
  display: none;
}
@keyframes fullrotate {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

input:focus {
  border-color: #007BFF !important;
  outline: none !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}
textarea:focus {
  border-color: #007BFF !important;
  outline: none !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}
  /* Custom CSS for Select2 */
.select2-container--default .select2-selection--single {
  height: 45px;
  border: 1px solid #bfc9d4;
  color: #3b3f5c;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 0.75rem;
  border-radius: 6px;
  background: #fff;
  transition: none;
}
.select2-container--default .select2-selection--single:focus {
  box-shadow: none;
  border-color: #4361ee;
  color: #3b3f5c;
  background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  padding-left: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

/* Pagination */

.cont2 {
  display:none!important;
}
.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-link-color);
  --bs-pagination-bg: #f1f1f1 !important;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee2e6;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: white !important;
  --bs-pagination-hover-bg: #012970;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: white !important;
  --bs-pagination-active-bg: #012970;
  --bs-pagination-active-border-color: #012970;
  --bs-pagination-active-border-radius: 10px !important;
  --bs-pagination-disabled-color: #d5d6d6 !important;
  --bs-pagination-disabled-bg: #e3e0e057 !important;
  --bs-pagination-disabled-border-color: #dee2e6;
  display: flex;
  padding-left: 0;
  list-style: none;
}
.page-item-disable span{
  color: #cbcbcb;
}
.disabled>.page-link, .page-link.disabled {
  color: #b5b5b5 !important;
}
.page-item:first-child .page-link {
    color: #c1c1c1;
}
.page-link {
  margin-top: 12px;
  margin-bottom: 12px;
  border:none !important;
}
.page-item:not(:first-child) .page-link {
  margin-left: 6px !important;
}
.justify-content-sm-between{
    justify-content: center !important;
}
.page-link {
    border: none !important;
}
.disabled>.page-link, .page-link.disabled {
    color: #000000;
}